{
	"root": true,
	"extends": ["plugin:prettier/recommended", "plugin:import/recommended"],
	"parser": "@babel/eslint-parser",
	"plugins": ["import"],
	"rules": {
		"prettier/prettier": ["error", { "semi": true }],
		"import/extensions": ["error", "always", { "ignorePackages": true }]
	},
	"globals": {
		"document": true,
		"window": true,
		"customElements": true,
		"HTMLElement": true,
		"requestAnimationFrame": true
	},
	"parserOptions": {
		"ecmaVersion": 2021,
		"sourceType": "module",
		"requireConfigFile": false
	},
	"env": {
		"es6": true,
		"browser": true
	}
}
