:host {
  &[cloak='true'] {
    svg {
      display: none;
    }
  }
}

[part~='title-wrapper'] {
  display: flex;
}

.open-icon,
.close-icon {
  justify-content: center;
  align-items: center;
  margin-left: auto;
  width: 8.33%;
}

.open-icon {
  display: flex;
}

.close-icon {
  display: none;
}

:host([cloak]) {
  display: none;
}

:host([open='true']) {
  .open-icon {
    display: none;
  }

  .close-icon {
    display: flex;
  }
}

.content-wrapper {
  overflow: hidden;
  transition: height 0.3s ease-out;
  height: auto;
}
